<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>stepDefinations.stepDefinations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user_login_with_its_username_and_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>home_page_of_user_is_populated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cards_are_displayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_is_on_main_page</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
