<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8edcc5">  <td>22/11/21 18:59:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="stepDefinations.cards_are_displayed()[pri:0, instance:stepDefinations.stepDefinations@169e6180]">cards_are_displayed</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/11/21 18:59:32</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="stepDefinations.home_page_of_user_is_populated()[pri:0, instance:stepDefinations.stepDefinations@169e6180]">home_page_of_user_is_populated</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/11/21 18:59:34</td>   <td>2013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="stepDefinations.user_is_on_main_page()[pri:0, instance:stepDefinations.stepDefinations@169e6180]">user_is_on_main_page</td> 
  <td>main@634297796</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/11/21 18:59:36</td>   <td>3664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="stepDefinations.user_login_with_its_username_and_password()[pri:0, instance:stepDefinations.stepDefinations@169e6180]">user_login_with_its_username_and_password</td> 
  <td>main@634297796</td>   <td></td> </tr>
</table>
