<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca8a3">  <td>22/12/09 19:48:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNg.Test1()[pri:1, instance:com.testNGclass.FirstTestNg@72e5a8e]">Test1</td> 
  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>22/12/09 19:48:07</td>   <td>6002</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest1.afterTest()[pri:0, instance:com.testNGclass.NewTest1@d9345cd]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>22/12/09 19:47:58</td>   <td>-3107</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeTest()[pri:0, instance:com.testNGclass.NewTest1@d9345cd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>22/12/09 19:48:07</td>   <td>5878</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTestNg.closeBrowser()[pri:0, instance:com.testNGclass.FirstTestNg@72e5a8e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>22/12/09 19:47:59</td>   <td>-2196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.f()[pri:0, instance:com.testNGclass.NewTest1@d9345cd]">f</td> 
  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>22/12/09 19:47:56</td>   <td>-4808</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTestNg.launchBrowser()[pri:0, instance:com.testNGclass.FirstTestNg@72e5a8e]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>22/12/09 19:48:03</td>   <td>2653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNg.login()[pri:2, instance:com.testNGclass.FirstTestNg@72e5a8e]">login</td> 
  <td>main@1949298838</td>   <td></td> </tr>
</table>
